:root {
    --accent: var(--green-bright);
    --bg: var(--lighter);
    --bg-surface: var(--lightest);
    --dark: hsl(0, 0%, 23%);
    --darker: hsl(0, 0%, 5%);
    --darkest: hsl(0, 0%, 2%);
    --error: var(--pink-bright);
    --fg: var(--dark);
    --fg-secondary: var(--light);
    --green-bright: hsl(143, 90%, 38%);
    --green-dull: hsl(143, 54%, 37%);
    --light: hsl(0, 0%, 91%);
    --lighter: hsl(0, 0%, 98%);
    --lightest: hsl(0, 0%, 100%);
    --pink-bright: hsl(334, 65%, 36%);
    --pink-dull: hsl(334, 38%, 40%);
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Roboto, sans-serif;
    margin: 0;
}

header, main {
    margin: 5em auto 0;
    max-width: 40em;
    padding: 16px;
}

header {
    text-align: center;
}

h1 {
    font-size: 3em;
}

ul {
    list-style: none;
    padding: 0;
}

.item {
    background-color: var(--bg-surface);
    border: var(--fg-secondary) 1px solid;
    border-radius: 5px;
    line-height: 2em;
    margin-bottom: 16px;
    padding: 16px;
}

#loader {
    color: var(--error);
}

#search {
    background-color: var(--bg-surface);
    border: 2px solid var(--fg-secondary);
    border-radius: 4px;
    color: var(--fg);
    font-family: inherit;
    font-size: max(16px, 2em);
    font-weight: 900;
    height: 3.25rem;
    line-height: 1;
    padding: .25em .5em;
    transition: 180ms box-shadow ease-in-out;
    width: 70%;
}

#search:focus {
    border-color: var(--accent);
    box-shadow: 0 0 0 3px var(--accent);
    outline: 3px solid transparent;
}

a:link, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#items > li > div {
    opacity: 0.5;
}

::selection {
    background: var(--accent);
    color: var(--bg);
}
