body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Roboto, sans-serif;
    margin: 0;
}

header, main {
    margin: 5em auto 0;
    max-width: 40em;
    padding: 16px;
}

header {
    text-align: center;
}

h1 {
    font-size: 3em;
}

ul {
    list-style: none;
    padding: 0;
}

.item {
    background-color: var(--bg-surface);
    border: var(--fg-secondary) 1px solid;
    border-radius: 5px;
    line-height: 2em;
    margin-bottom: 16px;
    padding: 16px;
}

#loader {
    color: var(--error);
}

#search {
    background-color: var(--bg-surface);
    border: 2px solid var(--fg-secondary);
    border-radius: 4px;
    color: var(--fg);
    font-family: inherit;
    font-size: max(16px, 2em);
    font-weight: 900;
    height: 3.25rem;
    line-height: 1;
    padding: .25em .5em;
    transition: 180ms box-shadow ease-in-out;
    width: 70%;
}

#search:focus {
    border-color: var(--accent);
    box-shadow: 0 0 0 3px var(--accent);
    outline: 3px solid transparent;
}

a:link, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#items > li > div {
    opacity: 0.5;
}

::selection {
    background: var(--accent);
    color: var(--bg);
}
